@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

:root {
  --light-green: #7ed56f;
  --medium-green: #55c57a;
  --dark-green: #28b485;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  color: #777;
  line-height: 1.7;
}

ul {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5em;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(55, 55, 55, 0.3),
      rgba(0, 0, 0, 0.8)
    ),
    url(../pizza1.jpg);
  background-size: cover;
  background-position: top;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 40px;
}

.logo {
  height: 80px;
  filter: drop-shadow(2px 2px 5px #222);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 24px;
  -webkit-animation-name: moveInRight;
  animation-name: moveInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.heading-primary-sub {
  display: block;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 26px;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.grid {
  top: 100px;
  padding: 50px;
  display: grid;
  width: 120em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
}

.grid-item {
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.menu-group-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;

  font-weight: 700;
}

.menu-group-description {
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid var(--light-green);
  color: #999;
  font-size: 1rem;
  padding-bottom: 1em;
  text-align: left;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  font-weight: 700;
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

.footer {
  background-color: #24262b;
  padding: 42px 0;
}

.footer-row {
  display: flex;
  flex-wrap: nowrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h2 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--medium-green);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #777;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #fff;
}

.open-hours {
  padding: 0.2;
  line-height: 15px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-black {
  background-color: #333;
  color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
  animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
  .logo {
    height: 60px;
  }

  .logo-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }

  .grid-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .footer-col {
    width: 100%;
  }

  .btn-black:link {
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .grid {
    grid-gap: 3rem;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

@media screen and (min-width: 768px) {
  .menu-group-heading {
    align-items: center;
  }

  .menu-group-description {
    text-align: center;
  }

  .footer-col {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 640px) {
  .heading-primary-main,
  .heading-primary-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    font-size: 2rem;
  }

  .footer-row {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

/* KEYFRAMES */

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
