---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Allergies from "../../public/images/allergies.jpg";

// Hello World
---

<Layout title="Pizzeria & Restaurang Angela | Finspång">
  <main>
    <div class="container">
      <section class="menu">
        <div class="allergies">
          <Image src={Allergies} alt="Allergies" class="allergies" />
          <h2 class="allergies-heading">Vid allergier fråga personalen</h2>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="G1">
          <span>Grupp 1</span>
          <span id="grupp1"></span>
        </h2>
        <p class="menu-group-description">
          Tomatsås &amp; ost ingår i alla pizzor
        </p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Margherita</span>
                <span class="menu-item-price"></span>
              </h3>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Vesuvio</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Romana</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Bacon, lök</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Bolognese</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Köttfärs</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Altonno</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Tonfisk</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Funghi</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Champinjoner</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Capricciosa</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, champinjoner</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pescatore</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, tonfisk</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Calzone</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka(inbakad)</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Vegetariano</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Champinjoner, paprika, oliver, lök
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">La bella</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Tonfisk, räkor</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Teodora</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Räkor, champinjoner</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Bussola</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, räkor</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hawaii</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, ananas</p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="btnScroll">
          <span> Grupp 2</span>
          <span id="grupp2"></span>
        </h2>
        <p class="menu-group-description">
          Tomatsås &amp; ost ingår i alla pizzor
        </p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pazza</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, champinjoner, lök</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Marinara</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Räkor, musslor</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Salerno</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, tonfisk, räkor</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Banana</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, banan, currykrydda</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Angela</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Skinka, räkor, champinjoner, ananas
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Tomaso</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, räkor, champinjoner</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Quattro Stagione</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Skinka, musslor, räkor, champinjoner, oliver
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Jaris</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Skinka, räkor, ananas</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pugliesé</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Bacon, lök, ägg</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hot-hot</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Cayennepeppar, köttfärs, tomat, lök
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Orient</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Salami, lök, champinjoner</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Armenia</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Salami, köttfärs, paprika, lök
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="G3">
          <span>Grupp 3</span>
          <span id="grupp3"></span>
        </h2>
        <p class="menu-group-description">
          Tomatsås &amp; ost ingår i alla pizzor
        </p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Inter</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Salami, salladsost, soltorkade tomater
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Napoli</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Skinka, tonfisk, räkor, champinjoner
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Peperonipizzza</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Pepperonikorv, lök, grön paprika
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kebabpizza</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Nötkött, lök, champinjoner, stark sås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Indiana</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kyckling, purjolök, champinjoner, paprika, currysås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingpizza</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Kyckling, banan, currysås</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Tacopizza</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Tacofärs, lök, tomat, jalapeño, vitlökssås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Vegetariano Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Gorgonzola, tomat, paprika, champinjoner, purjolök
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Vesuvio special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Lufttorkad skinka, mozzarella, ruccola
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Mexicana</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Skinka, köttfärs, paprika, jalapeño, tabasco
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Siemens Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Salami, skinka, champinjoner, bearnaisesås
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="G4">
          <span>Grupp 4</span>
          <span id="grupp4"></span>
        </h2>
        <p class="menu-group-description">
          Tomatsås &amp; ost ingår i alla pizzor
        </p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Gyrospizza</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Gyros, lök, champinjoner, mild sås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingkebabpizza</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kycklingkebab, lök, champinjoner, mild sås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Afrikana</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kyckling, skinka, räkor, banan, currysås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Fläskfilé Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Fläskfilé, tomat, purjolök, färsk vitlök, bearnaisesås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Ciao Ciao</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Fläskfilé, champinjoner, färsk vitlök, bearnaisesås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Gorgonzola</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Fläskfilé, gorgonzola, skinka, purjolök, paprika
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Lasse Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Skinka, champinjoner, räkor, ananas, bacon, köttfärs,
                bearnaisesås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Americana</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Fläskfilé, räkor, bacon, champinjoner, färsk vitlök
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="G5">
          <span>Grupp 5</span>
          <span id="grupp5" class="grupp5"></span>
        </h2>
        <p class="menu-group-description">
          Tomatsås &amp; ost ingår i alla pizzor
        </p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Black &amp; White</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Oxfilé, fläskfilé, champinjoner, bearnaisesås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Peppe Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Pepperonikorv, salami, oliver, rå rödlök, ruccola
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Husets Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Oxfilé, champinjoner, bearnaisesås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pugliesé Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Bacon, lök, 2st ägg, pepperonikorv, salami
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kebabpizza Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Nötkött, isbergssallad, tomat, gurka, rödlök, feferoni,
                viklökssås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Capricciosa Special</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Lufttorkad skinka, champinjoner, mozzarella, ruccola
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Samira</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Oxfilé, champinjoner, lök, färsk vitlök, mozzarella,
                bearnaisesås, ruccola
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Bari</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Fläskfilé, lök, gorgonzola, soltorkade tomater, ruccola
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Tutto Bello</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Oxfilé, skinka, gorgonzola, purjolök, körsbärstomater
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Halloumi</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Lufttorkad skinka, halloumi, körsbärstomater, rödlök,
                mozzarella, oliver, ruccola
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Jerevan</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Mozzarella, salami, halloumi, rödlök, körsbärstomater, ruccola
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="kebab">
          <span> Kebab - Kyckling - Gyros - Falafel</span>
        </h2>
        <p class="menu-group-description"></p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kebab med bröd</span>
                <span id="KebabMedBröd" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Nötkött, sallad, rödlök, tomat, feferoni, stark sås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kebabtallrik - Rulle</span>
                <span id="KebabTallrik" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Nötkött, sallad, rödlök, feferoni, stark sås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hawaiitallrik - Rulle - Bröd</span>
                <span id="HawaiiTallrik" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Nötkött, sallad, rödlök, tomat, ananas, feferoni, bearnaisesås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Grekisktallrik - Rulle - Bröd</span
                >
                <span id="Grekisktallrik" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Nötkött, sallad, rödlök, feferoni, salladsost, tomat, vitlökssås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Iskanderrulle</span>
                <span id="Iskanderrulle" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Nötkött, sallad, rödlök, feferoni, inlagd gurka, tomat,
                vitlökssås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingrulle - Bröd</span>
                <span id="Kycklingrulle" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kyckling, sallad, rödlök, tomat, ananas, feferoni, currysås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingkebabtallrik - Rulle</span>
                <span id="Kycklingkebabtallrik" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kycklingkebab, sallad, rödlök, feferoni, mild sås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingkebab med bröd</span>
                <span id="Kycklingkebabbröd" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kycklingkebab, sallad, rödlök, tomat, feferoni, mild sås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Gyrostallrik - Rulle - Bröd</span>
                <span id="Gyrostallrik" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Gyroskött, sallad, rödlök, feferoni, mild sås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Falafeltallrik - Rulle - Bröd</span
                >
                <span id="Falafeltallrik" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Falafel, sallad, rödlök, feferoni, tomat, mild sås
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="LAC">
          <span>À La Carte</span>
        </h2>
        <p class="menu-group-description"></p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Lövstek</span>
                <span id="Lövstek" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Stekpotatis/pommes &amp; aromsmör
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Schnitzel</span>
                <span id="Schnitzel" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Stekpotatis/pommes &amp; aromsmör
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pannbiff</span>
                <span id="Pannbiff" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Stekpotatis, brunsås &amp; lingonsylt
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Rödspätta</span>
                <span id="Rödspätta" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Stekpotatis/pommes &amp; remouladsås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingfilé</span>
                <span id="Kycklingfilé" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Pommes/klyftpotatis/ris &amp; bearnaisesås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Fläskfilé</span>
                <span id="Fläskfilé" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Pommes/klyftpotatis/ris &amp; bearnaisesås
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingspett</span>
                <span id="Kycklingspett" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Pommes/klyftpotatis/ris &amp; tzatziki
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pyttipanna</span>
                <span id="Pyttipanna" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Stekt ägg &amp; rödbetor</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Raggmunk</span>
                <span id="Raggmunk" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Stekt fläsk &amp; lingonsylt (Hemlagad)
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Lasagne</span>
                <span id="Lasagne" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Hemlagad</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Spaghetti Bolognese</span>
                <span id="Bolognese" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description"></p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hamburgertallrik 90g</span>
                <span id="90g" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description"></p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hamburgertallrik 150g</span>
                <span id="150g" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description"></p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Paella kyckling</span>
                <span id="PaellaKyckling" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Ris, kyckling, majs, lök, paprika, champinjoner
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Paella kebab</span>
                <span id="PaellaKebab" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Ris, nötkött, majs, lök, paprika, champinjoner
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Paella mix</span>
                <span id="PaellaMix" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Ris, räkor, kyckling, majs, lök, paprika, champinjoner
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="LAC">
          <span>Sallader</span>
          <span id="Sallader"></span>
        </h2>
        <p class="menu-group-description">
          <span
            >Isbergssallad, tomat &amp; gurka samt valfri dressing ingår till
            samtliga sallader</span
          >
        </p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Ost &amp; skinksallad</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Ost, skinka, ananas, majs</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Tonfisksallad</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Tonfisk, citron, ägg, rödlök, oliver, majs
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Räksallad</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Räkor, paprika, ägg, oliver, citron, majs
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Grekisksallad</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Salladsost, rödlök, oliver, paprika
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingsallad</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kyckling, rödlök, ananas, paprika, majs, ris
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kycklingkebabsallad</span>
                <span class="menu-item-price">+10kr</span>
              </h3>
              <p class="menu-item-description">
                Kycklingkebab, rödlök, feferoni
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kebabsallad</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">Nötkött, rödlök, feferoni</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Gyrossallad</span>
                <span class="menu-item-price">+10kr</span>
              </h3>
              <p class="menu-item-description">Gyroskött, rödlök, feferoni</p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="LAC">
          <span>Sallader special</span>
        </h2>
        <p class="menu-group-description"></p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kyckling special</span>
                <span id="KycklingSpecial" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kycklingspett, soltorkade tomater, rödlök, salladsost, avokado
              </p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Naddas special</span>
                <span id="NaddasSpecial" class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description">
                Kycklingfilé, soltorkade tomater, avokado, rödlök, salladsost,
                oliver
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="menu">
        <h2 class="menu-group-heading" id="LAC">
          <span>Barnmeny</span>
          <span id="Barnmeny"></span>
        </h2>
        <p class="menu-group-description">Ingår tetra dryck</p>
        <div class="menu-group">
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pizzagrupp 1</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description"></p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hamburgertallrik 90g</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description"></p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Kebabtallrik</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description"></p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name"
                  >Köttbullar med lingon &amp; mos</span
                >
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description"></p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Nuggets med pommes</span>
                <span class="menu-item-price"></span>
              </h3>
              <p class="menu-item-description"></p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  .allergies {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: 8px;
  }

  .allergies img {
    filter: brightness(0.6);
  }

  .allergies-heading {
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;

    color: #f6f6f6;
    font-size: 2rem;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .allergies {
      height: 100px;
    }

    .allergies-heading {
      font-size: 1.2rem;
    }
  }
</style>
